@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 font-sans;
    direction: rtl;
  }
}

/* إصلاح حجم الخريطة */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}

/* تحسينات الجوال */
@media (max-width: 768px) {
  .grid-cols-4 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  table {
    font-size: 0.75rem;
  }
}
